* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
}

:root {
  --color1: darkred;
  --color2: darkgreen;
  --color3: #333;
  --color4: rgb(100, 100, 100);
}

header {
  background-color: var(--color4);
  padding: 10px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

section {
  padding: 10px 10px 10px 10px;
  margin: auto;
}

footer {
  background-color: var(--color4);
  padding: 10px 10px 10px 10px;
  color: white;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
}

section {
  padding: 15px;
  margin-bottom: 10px;
}

ul li {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
