* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
}

:root {
  --color1: darkred;
  --color2: darkgreen;
  --color3: #333;
}
